<div class="jumbotron">
	<%= image_tag @pin.image.url(:medium) %>

	<p>
	  <strong>Description:</strong>
	  <%= @pin.description %>
	  <h5>User: <%= @pin.user.name %></h5>
	</p>

	<%= link_to 'Update', edit_pin_path(@pin) %> |
	<%= link_to 'Back', pins_path %>
</div>
